<p> u guys ever heard of these bands? </p>

<% @bands.each do |band| %>
    <a href="<%= band_url(band) %>"><%= band.name %></a>
    <br>
<% end %>
<br>
<div class="button">
    <a href="<%= new_band_url %>">Add a Band</a>
</div>